.main-wrapper
  .glass
    .dashboard
      %hi Life
      %h1 Style
      %h1 Matching
    .registration_form
      %button{type: "button",class: "btn"} アカウントを作成する
      %button{type: "button",class: "btn btn-primary"} ログインする